<app-parent></app-parent>

<h1>{{'demo.heading' | translate}}</h1>
<h2>{{'demo.title' | translate}}</h2>
<button (click)="onTranslate('vi')">Vietnamese</button>
<button (click)="onTranslate('en')">English</button>

<a style="background-color: black; color: white; padding: 10px 20px;" routerLink="/">home</a>
<a style="background-color: black; color: white; padding: 10px 20px;" routerLink="/about">about</a>
<a style="background-color: black; color: white; padding: 10px 20px;" routerLink="/post">post</a>

<router-outlet></router-outlet>
