<div class="btn-group">
  <a routerLink="/" class="btn btn-primary active" aria-current="page">Home</a>
  <a routerLink="/about" class="btn btn-primary">About</a>
  <a routerLink="/" class="btn btn-primary">Post</a>
</div>


<app-parent></app-parent>

<h1>{{'demo.heading' | translate}}</h1>
<h2>{{'demo.title' | translate}}</h2>
<button (click)="onTranslate('vi')">Vietnamese</button>
<button (click)="onTranslate('en')">English</button>




<router-outlet></router-outlet>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
    activates the relevant trigger.
  </div>
</div>
